<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button>
    <button onclick="loginReq()">로그인</button>
    <button onclick="pagingReq()">페이징목록</button>
</body>
<script>

    const saveReq = () => {
        location.href = "/board/save";
    }
    const loginReq = () => {
        location.href = "https://kauth.kakao.com/oauth/authorize?client_id=ecf7e443a56627d29bfcc53a5fa9e752&redirect_uri=http://localhost:8083/login/oauth2/code/kakao&response_type=code";
    }
    const pagingReq = () => {
        location.href = "/board/paging";
    }

</script>
</html>